<template>
  <div>
    <div class=" border border-light">
      <video
        :title="title"
        class="video"
        style="background-color: rgb(0, 0, 0);"
        :src="previewUrl"
        autoplay="true"
        loop="true"
        muted="muted"
      ></video>
    </div>
    <div class="row  mt-2  ">
      <div class="col text-left">
        <img :src="avatar" class="avatar rounded-circle" />
        {{ animatorName }}
      </div>

      <div class="col-3">
        <font-awesome-icon icon="download" /> {{ downloadCount }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Animation",
  props: {
    avatar: {
      type: String,
      default: "",
    },
    animatorName: {
      type: String,
      default: "",
    },
    downloadCount: {
      type: Number,
      default: 0,
    },
    previewUrl: {
      type: String,
      default: "",
    },
    title: {
      type: String,
      default: "",
    },
  },
};
</script>

<style scoped>
.avatar {
  height: 25px;
}

.video {
  width: 100%;
  max-width: 250px;
}</style
>>
