<template>
  <div class="row">
    <div class="col-sm-12 col-md-2 pl-0">
      <div class="container py-2 pl-0">
        <img src="../assets/logo.svg" />
      </div>
    </div>
    <div class="col-sm-0 col-md-2 d-sm-none d-md-block">
      <div class="container py-2  ">
        <el-input
          placeholder="Please input"
          v-model="searchText"
          @change="onChange($event)"
        ></el-input>
      </div>
    </div>
    <div class="col">
      <el-menu class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1">Animations</el-menu-item>
        <el-menu-item index="2">Marketplace</el-menu-item>
        <el-menu-item index="3">Preview</el-menu-item>
        <el-menu-item index="4">Tools</el-menu-item>
        <el-menu-item index="5">Resources</el-menu-item>
        <el-menu-item index="6">Login</el-menu-item>
        <el-menu-item index="7">Sign Up</el-menu-item>
      </el-menu>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      searchText: "",
    };
  },
  methods: {
    onChange($event) {
      this.$emit("onChange", $event);
    },
  },
};
</script>

<style scoped>
.container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}

img {
  height: 2rem;
}

.el-menu.el-menu--horizontal {
  border: none;
}

.row {
  border-bottom: 1px solid #e6e6e6;
}
</style>
