<template>
  <div>
    <div class="row  mt-2  ">
      <div class="col">
        <div class="card">
          <img :src="avatar" class="imgProfile rounded-circle my-2   " />
          <div class="card-body text-center">
            <h5 class="card-title ">{{ animatorName }}</h5>
            <p class="card-text ">
              {{ location }}
            </p>
            <p class="card-text">
              <a
                :href="'https://instagram.com/' + instagram"
                v-if="instagram.length > 0"
                class="mr-2"
                target="_blank"
                rel="noopener noreferrer"
              >
                <font-awesome-icon
                  :icon="['fab', 'instagram']"
                  size="2x"
                  class="icon alt "
                />
              </a>
              <a
                :href="'https://behance.net/' + behance"
                v-if="behance.length > 0"
                class="mr-2"
                target="_blank"
                rel="noopener noreferrer"
              >
                <font-awesome-icon
                  :icon="['fab', 'behance']"
                  size="2x"
                  class="icon alt"
                />
              </a>
              <a
                :href="'mailto:' + email"
                v-if="email.length > 0"
                class="mr-2"
                target="_blank"
                rel="noopener noreferrer"
              >
                <font-awesome-icon icon="envelope" size="2x" class="icon alt" />
              </a>
            </p>

            <p class="card-text">{{ animationCount }} Animations</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Person",
  props: {
    avatar: {
      type: String,
      default: "",
    },
    animatorName: {
      type: String,
      default: "",
    },
    instagram: {
      type: String,
      default: "",
    },
    behance: {
      type: String,
      default: "",
    },
    email: {
      type: String,
      default: "",
    },
    location: {
      type: String,
      default: "",
    },
    animationCount: {
      type: Number,
      default: 0,
    },
  },
};
</script>

<style scoped>
.imgProfile {
  width: 50%;
  flex-shrink: 0;
  align-self: center;
}
</style>
