<template>
  <div>
    <div class="row py-4" v-if="category == 'animation'">
      <div
        class="col-sm-12 col-md-3 my-4"
        v-for="animation in results"
        :key="animation.id"
      >
        <animation
          :avatar="animation.avatar"
          :downloadCount="animation.downloadCount"
          :animatorName="animation.animatorName"
          :previewUrl="animation.previewUrl"
          :title="animation.title"
        ></animation>
      </div>
    </div>
    <div class="row py-4" v-if="category == 'people'">
      <div
        class="col-sm-12 col-md-3 my-4"
        v-for="person in results"
        :key="person.id"
      >
        <person
          :avatar="person.avatar"
          :animationCount="person.entriesCount"
          :animatorName="person.name"
          :instagram="person.instagram"
          :behance="person.behance"
          :email="person.email"
          :location="person.animatorLocation"
        ></person>
      </div>
    </div>

    <el-pagination
      @current-change="$emit('changePage', $event)"
      :current-page="pageNo"
      :page-size="pageSize"
      layout="prev, pager, next"
      :total="totalResult"
    >
    </el-pagination>
  </div>
</template>

<script>
import Animation from "./Animation.vue";
import Person from "./Person.vue";
export default {
  components: {
    Animation,
    Person,
  },
  props: {
    category: {
      type: String,
      default: "animation",
    },
    pageNo: {
      type: Number,
      default: 0,
    },
    pageSize: {
      type: Number,
      default: 12,
    },
    totalResult: {
      type: Number,
      default: 0,
    },
    results: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style scoped></style>
