<template>
  <div>
    <div class="row">
      <div class="col-sm-12 col-md d-block text-left py-4">
        <div>
          <h4>Search Result for</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 text-left py-1">
        <el-button @click="$emit('onChangeCategory', { category: 'animation' })"
          >Animations</el-button
        >
        <el-button @click="$emit('onChangeCategory', { category: 'people' })"
          >People</el-button
        >
      </div>
      <template v-if="category == 'animation'">
        <div class="col-sm-12 col-md text-left py-1">
          <el-select
            v-model="searchType"
            placeholder="Type"
            @change="
              $emit('onChangeSearchCriteria', {
                searchType: 'type',
                value: searchType,
              })
            "
          >
            <el-option
              v-for="item in typeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <div class="col py-1">
          <el-select
            v-model="searchStyle"
            multiple
            placeholder="Style"
            @change="
              $emit('onChangeSearchCriteria', {
                searchType: 'style',
                value: searchStyle,
              })
            "
          >
            <el-option
              v-for="item in styleOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <div class="col">
          <div class="d-flex align-items-center">
            <span class="demonstration">Color : </span>
            <el-color-picker
              v-model="color"
              @change="
                $emit('onChangeSearchCriteria', {
                  searchType: 'color',
                  value: color,
                })
              "
            ></el-color-picker>
          </div>
        </div>
      </template>
      <template v-if="category == 'people'">
        <div class="col-xs-12 col-md-3">
          <el-input
            placeholder="Location"
            v-model="searchLocation"
            @change="$emit('onLocationChange', $event)"
          ></el-input>
        </div>
        <div class="col-xs-12 col-md-2">
          <el-checkbox
            v-model="isHire"
            size="medium"
            border
            @change="$emit('onHireChange', $event)"
            >Available for Hire</el-checkbox
          >
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "SearchPage",
  props: {
    category: {
      type: String,
      default: "animation",
    },
  },
  data() {
    return {
      searchType: "",
      isHire: false,
      searchStyle: "",
      searchLocation: "",
      color: null,
      typeOptions: [
        {
          label: "All",
          value: "0,1",
        },
        {
          label: "Free",
          value: "0",
        },
        {
          label: "Marketplace",
          value: "1",
        },
      ],
      styleOptions: [
        {
          label: "Outlines",
          value: "0",
        },
        {
          label: "Icons",
          value: "1",
        },
        {
          label: "Ilustrations",
          value: "2",
        },
        {
          label: "Emojis",
          value: "3",
        },
        {
          label: "Stickers",
          value: "4",
        },
      ],
    };
  },
};
</script>

<style scoped>
h4 {
  font-weight: bold;
}

.el-select {
  width: 100%;
}
</style>
