<template>
  <div id="app">
    <Header @onChange="onChangeSearch" />
    <search-page
      @onChangeSearchCriteria="onChangeSearchCriteria"
      @onChangeCategory="onChangeCategory"
      @onLocationChange="onLocationChange"
      @onHireChange="onHireChange"
      :category="category"
    />
    <result-page
      :results="results"
      :category="category"
      :pageNo="pageNo"
      :pageSize="pageSize"
      :totalResult="totalResult"
      @changePage="searchBasedOnCategory"
    />
  </div>
</template>

<script>
import Header from "./components/Header";
import SearchPage from "./components/SearchPage.vue";
import ResultPage from "./components/ResultPage.vue";

export default {
  name: "App",
  components: {
    Header,
    SearchPage,
    ResultPage,
  },
  data() {
    return {
      searchText: "",
      category: "animation",
      type: "0,1",
      style: "0,1,2,3,4",
      hasAEPOnly: false,
      color: "",
      results: [],
      pageNo: 0,
      pageSize: 12,
      location: "",
      hire: "",
      totalResult: 0,
    };
  },

  mounted() {
    this.searchBasedOnCategory();
  },

  methods: {
    onChangeSearch(text) {
      this.searchText = text;
      this.searchBasedOnCategory(this.category);
    },

    onChangeSearchCriteria($event) {
      switch ($event.searchType) {
        case "type":
          this.type = $event.value;
          break;
        case "style":
          this.style =
            $event.value.length == 0 ? "0,1,2,3,4" : $event.value.join(",");
          break;
        case "color":
          this.color = $event.value == null ? "" : $event.value;
          break;
        case "aep":
          this.hasAEPOnly = $event.value;
          break;
      }

      this.searchBasedOnCategory();
    },

    onLocationChange($event) {
      this.location = $event;
      this.searchBasedOnCategory();
    },

    onChangeCategory($event) {
      this.category = $event.category;
      this.searchBasedOnCategory();
    },

    onHireChange($event) {
      this.hire = $event ? "1" : "";
      this.searchBasedOnCategory();
    },

    async searchBasedOnCategory(pageNo) {
      let pageNum = pageNo ? pageNo - 1 : 0;

      let requestURL = "http://localhost:8080/api";
      const params = new URLSearchParams();
      params.append("text", this.searchText);
      params.append("pageSize", this.pageSize);
      params.append("pageNo", pageNum);

      if (this.category == "animation") {
        requestURL = requestURL + "/animations";
        params.append("type", this.type);
        params.append("style", this.style);
        params.append("color", this.color);
      }

      if (this.category == "people") {
        requestURL = requestURL + "/users";
        params.append("location", this.location);
        params.append("isHire", this.hire);
      }

      let response = await this.$http.get(requestURL, { params });
      this.results = response.data.content;
      this.totalResult = response.data.totalElements;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 90%;
  margin: auto;
}
</style>
